body{
  margin: auto;
  background: #eff2eeba;
  width: 1008px;
}
#mainNav{
  border: 2px solid #20ff0f;
  height: 120px;
  width: 1006px;
  margin-bottom: 30px;
}
img{max-width:100%;}
#logo{
  width: 300px;
  margin-left: 30px;
  height: 110px;
}
#navSearch{
  float: right;
  margin-top:40px;
}
#navSearch li {
  list-style: none;
  display: inline-block;
  
}
#navSearch a{
  text-decoration: none;
  font-size: 30px;
  padding: 30px;
  color: rgb(0,0,0);
  font-weight: bold;
  transition: all 1s;
}
#navSearch a:hover{
  color: #00ff10;
}

#logo,#navSearch{
  display: inline-block;
}
#membersPic{
  color: white;
  height: 800px;
  background:
  linear-gradient(#00000052,#00000052),
  linear-gradient(#00000052,#00000052),
  url(friends.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1008px;
}
#membersPic h1, h2{
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}
#words{
  padding-top: 300px;
}
#name{
  font-weight: bold;
  font-size: 20px;
  text-align: center;

}
#name span{
  color: #00ff10;
}
.container{width: 1008px;
}
.slidepics{
  height: 800px;
  width: 100%;
  opacity: 0;
  position: absolute;
}
.mainSlider{
  margin-top: 10px;
  position: relative;
}
.active{
  opacity: 1;
}
.jo{
  background:  #eff2eeba;
  height: 850px;
}
img{
  width: 100%;
}
#introPic{
  width: 900px;
  margin: auto;
}
#introduction{

  padding-bottom: 20px;
}
#introWords{
  width: 900px;
  margin: auto;
}
#whats{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}